<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    bootstrap="vendor/autoload.php"
    colors="true"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd">

  <source>
    <include>
      <directory>src</directory>
    </include>
  </source>

  <testsuites>
    <testsuite name="php-imap Tests">
      <directory>tests</directory>
    </testsuite>
  </testsuites>

</phpunit>
